# Entorno virtual
.venv/
venv/
ENV/

# Base de datos
*.sqlite3
*.db

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno
.env
.env.local

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de cobertura
.coverage
htmlcov/

# Archivos de distribución
dist/
build/
*.egg-info/ 